<!--bg-box-->
<div class="bg-box no-mbottom section-catalog">
	<h3 class="h3-title">Ранее вы смотрели</h3>
	<!--catalog-inner-box-->
	<div class="catalog-inner-box">
		<div class="slider-wrap">
			<div class="slider">
				<!--sl-wrap-->
				<div class="sl-wrap">
					<a href="" class="item-tile-catalog-inner">
										<span class="tile-photo-wrap">
											<span class="tile-photo photo-contain">
												<img src="./img/cat-small01.jpg" alt="">
											</span>
										</span>
						<span class="tile-info-wrap">
											<span class="tile-title">Alutec Energy 6,5x16 5x100 ET 40 Dia 63,3 (polar silver)</span>
											<span class="tile-price">3 026 руб./шт</span>
										</span>
					</a>
				</div>
				<!--/sl-wrap-->
				<!--sl-wrap-->
				<div class="sl-wrap">
					<a href="" class="item-tile-catalog-inner">
										<span class="tile-photo-wrap">
											<span class="tile-photo photo-contain">
												<img src="./img/cat-small02.jpg" alt="">
											</span>
										</span>
						<span class="tile-info-wrap">
											<span class="tile-title">Alutec Energy 6,5x16 5x100 ET 40 Dia 63,3 (polar silver)</span>
											<span class="tile-price">3 026 руб./шт</span>
										</span>
					</a>
				</div>
				<!--/sl-wrap-->
				<!--sl-wrap-->
				<div class="sl-wrap">
					<a href="" class="item-tile-catalog-inner">
										<span class="tile-photo-wrap">
											<span class="tile-photo photo-contain">
												<img src="./img/cat-small03.jpg" alt="">
											</span>
										</span>
						<span class="tile-info-wrap">
											<span class="tile-title">Alutec Energy 6,5x16 5x100 ET 40 Dia 63,3 (polar silver)</span>
											<span class="tile-price">3 026 руб./шт</span>
										</span>
					</a>
				</div>
				<!--/sl-wrap-->
				<!--sl-wrap-->
				<div class="sl-wrap">
					<a href="" class="item-tile-catalog-inner">
										<span class="tile-photo-wrap">
											<span class="tile-photo photo-contain">
												<img src="./img/cat-small01.jpg" alt="">
											</span>
										</span>
						<span class="tile-info-wrap">
											<span class="tile-title">Alutec Energy 6,5x16 5x100 ET 40 Dia 63,3 (polar silver)</span>
											<span class="tile-price">3 026 руб./шт</span>
										</span>
					</a>
				</div>
				<!--/sl-wrap-->
				<!--sl-wrap-->
				<div class="sl-wrap">
					<a href="" class="item-tile-catalog-inner">
										<span class="tile-photo-wrap">
											<span class="tile-photo photo-contain">
												<img src="./img/cat-small02.jpg" alt="">
											</span>
										</span>
						<span class="tile-info-wrap">
											<span class="tile-title">Alutec Energy 6,5x16 5x100 ET 40 Dia 63,3 (polar silver)</span>
											<span class="tile-price">3 026 руб./шт</span>
										</span>
					</a>
				</div>
				<!--/sl-wrap-->
			</div>
		</div>
	</div>
	<!--/catalog-inner-box-->
</div>
<!--/bg-box-->