
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-inner-wrap">
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title"><a href="">Каталог товаров</a></div>
					<ul class="menu">
						<li><a href="">Шины</a></li>
						<li><a href="">Диски</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title"><a href="">Наши услуги</a></div>
					<ul class="menu">
						<li><a href="">Шиномонтаж</a></li>
						<li><a href="">Сезонное хранение</a></li>
						<li><a href="">Правка литых дисков</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title"><a href="">О компании</a></div>
					<ul class="menu">
						<li><a href="">Наши контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<div class="footer-title">Наши контакты</div>
					<div class="cnt-wrap cnt-phone">
						<div class="elm-ico">
							<img src="./img/icons/phone.svg" alt="">
						</div>
						<div class="cnt-title"><a href="tel:84959992545" class="link-phone">8 (495) 999-25-45</a></div>
					</div>
					<div class="cnt-wrap">
						<div class="elm-ico">
							<img src="./img/icons/location.svg" alt="">
						</div>
						<div class="cnt-title">Москва,55 км МКАД стр. 40 пав. 40/5</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-info-wrap">
			<p>2023 © Профессиональный инструмент для быстрого поиска и заказа запчастей и аксессуаров для вашего автомобиля. Запрещается копирование, распространение, в том числе путем копирования на другие сайты и ресурсы в интернет, а также любое иное использование информации и объектов без предварительного согласия правообладателя. Цитирование текстов, размещенных на сайте вианор-кунцево.москва допускается только с указанием активной ссылки на источник заимствования.</p>
		</div>
	</div>
</footer>
<!-- /footer -->